.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  display: -webkit-transition;
  opacity: 1;
  transition-delay: 0s;
  cursor: pointer;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background: transparent url(../../assets/close-btn.png) center no-repeat;
  width: 16px;
  height: 16px;
  border: none;
}
.modal__title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #0000004d;
  border-radius: 20px;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
  padding: 28px 28px 36px 28px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}
.modal__input {
  display: block;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000;
  margin-top: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.modal__radio-label {
  color: #00000080;
}

.modal__radio-btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  margin-bottom: 32px;
}

.modal__legend {
  margin-bottom: 12px;
}
.modal__radio-input {
  margin-right: 8px;
  background-color: #00000080;
}

.modal__submit {
  max-width: 124px;
  max-height: 36px;
  padding: 8px 16px;
  white-space: nowrap;
  background-color: #000000;

  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #ffffff;
}

.modal__submit:hover {
  background-color: #0000004d;
  cursor: pointer;
}
