.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  padding: 2px 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #00000099;
  background-color: #ffffff;
  top: 15px;
  margin: 0;
  border-radius: 4px;
}

.card__image {
  width: 100%;

  max-height: 326px;
  border-radius: 20px;
  border: 1px solid #0000004d;
}
