.app {
  font-family: CabinetGrotesk, Arial, Helvetica, sans-serif;
  background-color: #f3f3f3;
}

.app__content {
  max-width: 1360px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
  overflow: auto;
}

@media screen and (max-width: 627px) {
  .app__content {
    padding: 0 10px;
  }
}
